h1 {
    text-align: center;
    font-size: 30px;
  }

h1,
.main-content {
  margin-bottom: 20px;
}

.active {
  font-weight: 600;
  color: #0e7bf1;
}



.upload-section {
  display: flex;
  height: 200px;
  margin-bottom: 10px;
}




.preview-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.files-container {
  width: 98%;
  overflow-x: auto;
}
